# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg
dist/
build/
*.spec

# Virtual environment
venv/
.venv/

# IDE
.vscode/
.idea/
*.code-workspace

# OS
Thumbs.db
.DS_Store

# Compiled Executables & Nuitka
*.build/
*.onefile-build/
*.exe
*.bin

# Third-party tools (UPX, 7z)
tools/
